<footer class="site-footer">
  {% include "components/social.njk" %}
  {% set tocClass = "book-toc--footer" %}
  {% include "components/toc.njk" %}
  <p class="site-footer__legal">© 2026 Yasmine · Personal media all rights reserved.</p>
</footer>
