---
layout: layouts/base.njk
title: Home
description: Yasmine 何依霖的个人作品集目录。
bodyClass: home-page
permalink: /index.html
---
<main id="main" class="home-cover">
  <span class="home-cover__divider" aria-hidden="true"></span>
  <p class="home-cover__name" lang="en">{{ site.englishName }}</p>
  <h1>{{ site.chineseName }}</h1>
  <p class="home-cover__tagline" lang="en">{{ site.tagline }}</p>
  {% set tocClass = "book-toc--home" %}
  {% set activeKey = "" %}
  {% include "components/toc.njk" %}
  <span class="home-cover__ending" aria-hidden="true"></span>
</main>
